@tailwind base;
@tailwind components;
@tailwind utilities;

.logo {
  transform: translate(-50%, -50%);
}

.detail {
  overflow: hidden;
  transform: translate(-50%, -50%);
  background-color: #393737;
  border-radius: 15px;
  box-sizing: border-box;
}
.logo-text {
  font-family: "Cinzel decorative", cursive;
  font-size: 3rem;
  color: red;
  font-weight: 600;
}

.sub-logo-text {
  font-family: "Cinzel", serif;
  font-size: 1.5rem;
}

.bg-change {
  width: 100%;
  height: 100vh;
  left: 0px;
  top: 0px;
  background: rgba(196, 196, 196, 0.4);
  position: fixed;
  overflow: hidden;
}

.close-img {
  fill: white;
}
